nav{
    position: absolute;
    z-index: 1000;
    right: 0;
    margin-right: 2%;
    margin-top: 2%;
    cursor:pointer;
}
@media screen and (max-width: 768px) {
    nav > svg{
        width: 25px !important;
        height: 25px !important;
        margin-right: 20px;
        margin-top: 20px;
    }
}
