nav{
    position: absolute;
    z-index: 1000;
    right: 0;
    margin-right: 2%;
    margin-top: 2%;
    cursor:pointer;
    display: flex;
    gap: 10px;
    width:100vw
}
nav img{
    height:50px;
    width:50px;
    margin-right: auto;
    margin-top: -15px;
    margin-left: 58px;
}
@media screen and (max-width: 768px) {
    nav > svg{
        width: 25px !important;
        height: 25px !important;
        margin-right: 20px;
        margin-top: 20px;
    }
    nav img{
        width: 35px;
        height: auto;
        margin-left: 38px;
        margin-top: 15px;
    }
}
